<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <main>
        <section id="login-container">
            <img src="../TUBES/tubespbw/src/main/resources/static/assets/music.svg" alt="music icon">
            <h1>Login</h1>
            <form id="loginForm" action="">
                <label for="username" id="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter Username">
                <label for="password" id="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password">
                <input type="submit" name="login" id="login" value="Login">
                <p>Forgot Password? <a href="">Reset</a></p>
            </form>
        </section>
    </main>
</body>
</html>