<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <main>
        <section id="register-container">
            <img src="../TUBES/tubespbw/src/main/resources/static/assets/music.svg" alt="music icon">
            
            <h1>Register</h1>

            <form id="registrationForm" action="">
                <label for="username" id="username">Username</label>
                <input type="text"re name="username" id="username" placeholder="Enter Username">

                <label for="email" id="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Enter Email">

                <label for="password" id="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter Password">

                <input type="submit" name="register" id="register" value="Register">

                <p>Already have an account? <a href="">Login</a></p>
            </form>
        </section>
    </main>
</body>
</html>