<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/auth/resetPassword.css}"> 
</head>
<body>
    <main>
        <section id="reset-container">
            <img th:src="@{/assets/icon/music.svg}" alt="music icon">
            
            <h1>Reset Password</h1>

            <div th:if="${error}" style="color: red; margin-bottom: 10px;">
                <p th:text="${error}"></p>
            </div>

            <form id="resetPasswordForm" th:action="@{/reset-password}" method="post">
                
                <input type="text" name="email" id="email" placeholder="Enter Email" required>
                <input type="password" name="oldPassword" id="oldPassword" placeholder="Enter Old Password" required>
                <input type="password" name="newPassword" id="newPassword" placeholder="Enter New Password" required>
                <input type="submit" name="reset" id="reset" value="Reset">

                <p>Already have an account? <a th:href="@{/login}">Login</a></p>
            </form>
        </section>
    </main>
</body>
</html>