<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-profile.css}">
    <script th:src="@{/js/adminProfile.js}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <div id="nav-left">
                    <li id="logo">Music <br>Collection</li>
                    <li><a th:href="@{/admin/home}">Home</a></li>
                </div>

                <div id="search-container" style="position: relative;">
                    <input type="text" name="search" id="search" placeholder="Search" autocomplete="off">
                    <img th:src="@{/assets/icon/search.svg}" alt="search button">

                    <div id="searchResults" class="search-dropdown"></div>
                </div>

                <div id="nav-right">
                    <li>
                        <a th:href="@{/admin/profile}">
                            <img th:src="@{/assets/icon/user.svg}" alt="profile icon">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/logout}">
                            <img th:src="@{/assets/icon/logout.svg}" alt="logout icon">
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <!-- SECTION PROFILE -->
        <section id="profile-card">
            <div id="avatar"></div>
            <div id="profile-info">
                <h2 th:text="${username}">Admin Name</h2>
                <p th:text="${role}">Admin</p>
            </div>
        </section>

        <!-- PROFLE TABS -->
        <section id="profile-tabs">
            <button class="tab active">All Songs</button>
            <button id="add-song-button">Add Song</button>
        </section>

        <!-- SECTION SONG LIST -->
        <section id="song-list">
            <h1>Song List</h1>

            <div th:if="${searchQuery}">
                <p>Search results for "<span th:text="${searchQuery}"></span>" 
                   (<span th:text="${totalSongs}"></span> songs found)</p>
            </div>

            <div id="table-container" th:if="${songs != null && !songs.isEmpty()}">
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Album</th>
                            <th>Album Art</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="song : ${songs}">
                             <td th:text="${song.title}">Title</td>
                            <td>
                                <a th:href="@{'/artist/' + ${song.artistID}}" 
                                   th:text="${song.artistName}"
                                   style="color: #111111; text-decoration: none;">
                                    Artist
                                </a>
                            </td>
                            <td th:text="${song.albumTitle}">Album</td>
                            <td>
                                <img th:src="${song.albumArt}" 
                                     alt="Album Art" 
                                     style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;"
                                     th:onerror="this.src='/assets/img/album-art/default.jpg'">
                            </td>
                            <td>
                                <form th:action="@{/admin/song/delete}" method="POST" style="display:inline;">
                                    
                                    <input type="hidden" name="songId" th:value="${song.songID}" />
                                    
                                    <button type="submit" class="trash-button" 
                                            onclick="return confirm('Apakah Anda yakin ingin menghapus lagu ini?')">
                                        <img th:src="@{/assets/icon/trash.svg}" alt="delete icon">
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- PAGINATION -->
            <div id="paginationButtonGroup">
                <!-- PREVIOUS -->
                <a th:href="@{/admin/profile(page=${currentPage - 1})}">
                    <button th:disabled="${currentPage == 0}">Prev</button>
                </a>

                <!-- FIX: SELALU TAMPIL 1 - 9 -->
                <a th:each="i : ${#numbers.sequence(1, 9)}"
                th:href="@{/admin/profile(page=${i})}">
                    <button th:text="${i}"
                            th:classappend="${i == currentPage} ? 'active-page' : ''"></button>
                </a>

                <!-- NEXT -->
                <a th:href="@{/admin/profile(page=${currentPage + 1})}">
                    <button th:disabled="${currentPage == totalPages}">Next</button>
                </a>
            </div>
        </section>


        
        <!-- POP UP ADD SONG -->
        <section id="popup-add-song">
            <form id="add-song-form" th:action="@{/admin/song/add}" method="POST" enctype="multipart/form-data">
                <h1>Add Song Form</h1>
                
                <input type="text" name="song-title" placeholder="Song Title" required>
                <input type="text" name="artist-name" placeholder="Artist Name" required>
                <input type="text" name="album-name" placeholder="Album Name" required>
                
                <label for="album-art">Upload Album Art</label>
                <input type="file" name="album-art" accept="image/png, image/jpeg" required>
                
                <div id="form-button">
                    <button type="button" id="cancel-button">Cancel</button> <input type="submit" value="Save">
                </div>
            </form>
        </section>
    </main>
</body>
</html>