<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" th:href="@{/css/layout/album.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div id="nav-left">
                    <li id="logo">Music <br>Collection</li>
                    <li><a th:href="@{/member/home}">Home</a></li>
                    <li><a th:href="@{/}">Library</a></li>
                </div>

                <div id="search-container">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <img th:src="@{/assets/icon/search.svg}" alt="search button">
                </div>
                
                <div id="nav-right">
                    <li><img th:src="@{/assets/icon/user.svg}" alt="profile icon"></li>
                    <li><img th:src="@{/assets/icon/logout.svg}" alt="logout icon"></li>    
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <!-- ALBUM HEADER -->
        <section id="album-header">
            <h1>Album<br><span id="albumTitle">Back In Black</span></h1>
            <img th:src="@{/assets/img/album-art/album-acdc.png}" alt="album art">
        </section>

        <!-- ALBUM CONTAINER -->
        <section id="album-container">
            <!-- ARTIST PROFILE -->
            <div id="artist-profile">
                <img th:src="@{/assets/img/artist-profile/artist-acdc.jpeg}" alt="artist photo">
                <h2 id="artistName">AC/DC</h2>
                <button>Follow</button>
            </div>

            <!--CONTAINER LAGU -->
            <div id="album-songs">
                <h1>Album Songs</h1>

                <!-- DAFTAR LAGU -->
                <div class="music-card">
                    <p class="music-title">Hell Bells</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
                <div class="music-card">
                    <p class="music-title">Shot to Thrill</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
                <div class="music-card">
                    <p class="music-title">What Do You Do For Money Honey</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
                <div class="music-card">
                    <p class="music-title">Givin The Dog a Bone</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
                <div class="music-card">
                    <p class="music-title">Let Me Put My Love Into You</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
                <div class="music-card">
                    <p class="music-title">Back In Black</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
                <div class="music-card">
                    <p class="music-title">You Shook Me All Night Long</p>
                    <img th:src="@{/assets/icon/heart.svg}" alt="add music icon">
                </div>
            </div>
        </section>
    </main>
</body>
</html>