<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" href="../../static/css/layout/album.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div id="nav-left">
                    <li id="logo">Music <br>Collection</li>
                    <li>Home</li>
                    <li>Library</li>
                </div>

                <div id="search-container">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <img th:src="@{/assets/icon/search.svg}" alt="search button">
                </div>
                
                <div id="nav-right">
                    <li><img th:src="@{/assets/icon/user.svg}" alt="profile icon"></li>
                    <li><img th:src="@{/assets/icon/logout.svg}" alt="logout icon"></li>    
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <!-- ALBUM HEADER -->
        <section id="album-header">
            <h1>Album<br><span id="albumTitle">Kampungan</span></h1>
            <img th:src="@{/assets/img/artist-profile/slank-profile.jpg}" alt="album art">
        </section>

        <!-- ALBUM CONTAINER -->
        <section id="album-container">
            <!-- ARTIST PROFILE -->
            <div id="artist-profile">
                <img src="../assets/img/artist-profile/slank-profile.jpg" alt="artist photo">
                <h2 id="artistName">Slank</h2>
                <button>Follow</button>
            </div>

            <!--CONTAINER LAGU -->
            <div id="album-songs">
                <h1>Album Songs</h1>

                <!-- DAFTAR LAGU -->
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Kampungan</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Mawar Merah</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Terlalu Manis</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Mawar Merah</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Terlalu Manis</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Mawar Merah</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
                <div class="music-card">
                    <img src="../assets/icon/play-music.svg" alt="play music icon">
                    <p class="music-title">Terlalu Manis</p>
                    <img src="../assets/icon/add.svg" alt="add music icon">
                </div>
            </div>
        </section>


    </main>
</body>
</html>