<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" th:href="@{/css/layout/artist.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div id="nav-left">
                    <li id="logo">Music <br>Collection</li>
                    <li><a th:href="@{/member/home}">Home</a></li>
                    <li>Library</li>
                </div>

                <div id="search-container">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <img th:src="@{/assets/icon/search.svg}" alt="search button">
                </div>

                <div id="nav-right">
                    <li>
                        <a th:href="@{/member/profile}">
                            <img th:src="@{/assets/icon/user.svg}" alt="profile icon">
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/login}">
                            <img th:src="@{/assets/icon/logout.svg}" alt="logout icon">
                        </a>
                    </li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
       <!-- SECTION PROFILE -->
        <section id="profile-card">
            <div id="avatar">
                <img th:src="@{/assets/img/artist-profile/artist-acdc.JPEG}" alt="artist photo">
            </div>
            <div id="profile-info">
                <h2 id="artistName">AC/DC</h2>
                <p>Artist</p>
            </div>
        </section>

        <!-- PROFLE TABS -->
        <section id="profile-tabs" class="tab-group">
            <button class="tab active"><a th:href="@{/artist}">Song</a></button>
            <button class="tab"><a th:href="@{/artist/album}">Album</a></button>
        </section>

        <section id="artistSongList">
            <h1>Song List</h1>
            <div class="song-card">
                <p id="song-title">Mawar Merah</p>
                <button>+</button>
            </div>
            <div class="song-card">
                <p id="song-title">Terlalu Manis</p>
                <button>+</button>
            </div>
            <div class="song-card">
                <p id="song-title">Poppies Lane Memory</p>
                <button>+</button>
            </div>
            <div class="song-card">
                <p id="song-title">Anyer 30 Maret</p>
                <button>+</button>
            </div>
            <div class="song-card">
                <p id="song-title">Virus</p>
                <button>+</button>
            </div>
        </section>
        
        
    </main>
</body>
</html>