<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" th:href="@{/css/homepage-all.css}">
</head>
<body>
    <main>
        <section id="hero-container">
           <img th:src="@{homepage-img.png}" alt="homepage img">
           <div id="hero-header">
                <button>Sign in</button>
                <button>Create Account</button>
           </div>
           <div id="hero-text">
                <h1>Welcome</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusantium dolor deserunt reiciendis architecto ad, itaque temporibus voluptas porro, laboriosam facere in dolores obcaecati nam quas cupiditate voluptates vero perspiciatis?</p>
           </div>
        </section>

        <section id="hero-info">
            <div id="hero-grafik">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

            <div id="weekly-songs">
                <div id="weekly-header">
                    
                </div>

                <div id="songs-container">
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                    <div id="songs-card">
                        <img src="" alt="">
                        <div></div>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
</body>
</html>