<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Collection</title>
    <link rel="stylesheet" th:href="@{/css/member/uploadMember.css}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div id="nav-left">
                    <li id="logo">Music <br>Collection</li>
                    <li>Home</li>
                    <li>Library</li>
                </div>

                <div id="search-container">
                    <input type="text" name="search" id="search" placeholder="Search">
                    <img th:src="@{/assets/icon/search.svg}" alt="search button">
                </div>

                <div id="nav-right">
                    <li><img th:src="@{/assets/icon/user.svg}" alt="profile icon"></li>
                    <li><img th:src="@{/assets/icon/logout.svg}" alt="logout icon"></li>
                </div>
            </ul>
        </nav>
    </header>
    <main>
        <section id="upload-section">
            <h2>Upload Your Songs</h2>
            <p>For best quality, use WAV, FLAC, AIFF, or ALAC. The maximum file size is 4GB uncompressed.</p>

            <div id="drop-area">
                <span id="plus">+</span>
                <p>Drag and drop audio files to get started.</p>
            </div>
        </section>
    </main>
</body>
</html>