:root {
    --primary-color : #EDEEEB;
    --secondary-color: #31393C;
    --third-color: #C2C2C2;
    --text-color: #FFFFFF;
    --button-color: #3E96F4;
}

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: unset;
    text-decoration: none;
}

/* ================= HEADER ================= */
header {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    padding: 0.7em 1.5em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    list-style: none;
}

/* LEFT NAV */
#nav-left {
    display: flex;
    align-items: center;
    gap: 5em;
}

#logo {
    font-size: 1.5em;
    font-weight: bold;
}

/* MENU HOVER */
#nav-left li:nth-child(2),
#nav-left li:nth-child(3) {
    padding: 0.5em 0.8em;
    border-radius: 4px;
    transition: .2s;
}

#nav-left li:nth-child(2):hover,
#nav-left li:nth-child(3):hover {
    background-color: var(--third-color);
    color: var(--secondary-color);
}

/* SEARCH BAR */
#search-container {
    width: 40%;
    display: flex;
    border: 1px solid var(--text-color);
    border-radius: 4px;
    background-color: var(--primary-color);
    position: relative;
    overflow: visible;
}

#search-container input {
    width: 100%;
    padding: 0.6em;
    border: none;
    outline: none;
    background-color: var(--primary-color);
}

#search-container img {
    background-color: var(--primary-color);
    width: 40px;
    padding: 0.4em;
}

/* RIGHT NAV */
#nav-right {
    display: flex;
    align-items: center;
    gap: 1em;
}

#nav-right img {
    width: 35px;
    height: 35px;
}

/* ================= MAIN ================= */
main {
    padding: 0 2em;
}

/* SECTION WRAPPER */
.section-block {
    padding: 0 2em;
    margin-top: 40px;
}

.section-block:last-of-type {
    margin-bottom: 3em;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-right: 1em;
}

.section-block h1 {
    padding-bottom: 0.5em;
}

/* ================= GRID TOP 10 ================= */
.grid-four {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.item {
    text-align: center;
}

.item img {
    width: 300px;
    height: 300px;
    border-radius: 14px;
    object-fit: cover;
}

.item p {
    margin-top: 10px;
    font-size: 1.1em;
}


.song-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.total-add-favorite {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


/* ================= HORIZONTAL SCROLL ================= */
.horizontal-scroll {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    flex-wrap: nowrap;
}

/* Scrollbar */
.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 8px;
}

/* Bigger cards */
.horizontal-scroll .item.big img {
    width: 300px;
    height: 300px;
    border-radius: 14px;
}


/* SEARCH BAR */
.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
    background-color: #ffffff;
    color: #333;
    
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    
    max-height: 300px;
    overflow-y: auto;
    z-index: 20;
    display: none; 
}

.search-item {
    padding: 12px 15px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.search-item:hover {
    background-color: #f5f5f5;
}

.song-title {
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.artist-name {
    font-size: 12px;
    color: #666;
}

.not-found {
    padding: 15px;
    text-align: center;
    color: #888;
    font-style: italic;
    font-size: 14px;
}
