:root {
    --primary-color : #EDEEEB;
    --secondary-color: #31393C;
    --third-color: #C2C2C2;
    --text-color: #FFFFFF;
    --button-color: #3E96F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: auto 1fr;
    background-color: var(--primary-color);

}

body::-webkit-scrollbar {
    display: none;
}

/* HEADER */
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--secondary-color);
}

nav {
    padding: 0.5em;
    height: 100%;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav ul {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

nav ul li {
    font-size: large;
    list-style: none;    
}

#nav-left {
    margin-left: 2em;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5em;
}

#logo {
    font-size: 1.5em;
    font-weight: bolder;
}

#nav-left li:nth-child(2),
#nav-left li:nth-child(3) {
    padding: 0.5em 0.8em;
}

#nav-left li:nth-child(2):hover,
#nav-left li:nth-child(3):hover {
    color: var(--secondary-color);
    border-radius: 0.2em;
    background-color: var(--third-color);
}


/* SEARCH CONTAINER*/
#search-container {
    align-self: center;
    width: 40%;
    display: flex;
    border: 1px solid var(--text-color);
    border-radius: 0.2em;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
}

#search-container input {
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: var(--primary-color);
}

#search-container img {
    background-color: var(--primary-color);
}

#nav-right {
    margin-right: 2em;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

#nav-right img {
    width: 80%;
    height: 3em;
}


/* MAIN */
main {
    padding: 1em;
    grid-area: main;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #000;
}


/* SECTION PERTAMA PROFILE */
#profile-card {
    width: 90%;
    height: 20rem;
    padding: 2em;
    margin-top: 1em;
    background-color: var(--secondary-color);
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    gap: 2em;
    color: var(--text-color);
}

#avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: var(--third-color);
}

#profile-info h2 {
    margin-top: 0.4em;
    font-size: 1.4em;
}

#profile-info p {
    margin-top: 0.3em;
    font-size: 0.9em;
}


/* SECTION TABS */
#profile-tabs {
    width: 90%;
    display: flex;
    align-items: center;
    border-radius: 0.4em;
}

#profile-tabs a {
    text-decoration: none;
    color: unset;
}

#profile-tabs .tab {
    padding: 0.5em 1.6em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    font-weight: 500;
}

/* TAB ACTIVE */
#profile-tabs .tab.active {
    background-color: #E5E5E5;
    font-weight: 600;
}

/* TAB NON-ACTIVE */
#profile-tabs .tab:not(.active) {
    background-color: #D0D0D0;
}

#profile-tabs .tab:hover {
    background-color: #D9D9D9;
}

/* BUTTON ADD SONG */
#add-song-button {
    width: 15%;
    padding: 0.5em 1em;
    font-size: 1em;
    margin-left: auto;
    color: var(--text-color);
    border: none;
    border-radius: 0.3em;
    background-color: var(--button-color);
}

#add-song-button:hover {
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--secondary-color);
}


/* SECTION ALL CONTAINER */
#song-list {
    width: 90%;
    height: 60vh;
    padding: 2em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
    background-color: var(--text-color);
    margin-bottom: 2em;
}

/* SECTION ALL TABLE CONTAINER */
#table-container {
    width: 100%;
    max-height: 100%;       
    overflow-y: scroll;     
    border: 1px solid #ddd;
    border-radius: 0 0 1em 1em;
    margin-bottom: 2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 0;
}

table th, table td {
    padding: 0.7em;
    border-bottom: 1px solid #eee;
}

th {
    font-size: 1.5em;
    font-weight: 700;
}

.album-art {
    width: 5vw;
    height: 10vh;
}

.trash-button {
    border: none;
    cursor: pointer;
    background-color: var(--text-color);
}


/* POPUP ADD SONG */
#popup-add-song {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#add-song-form {
    padding: 2em;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 0.5em;
    background-color: var(--text-color);
}

#add-song-form input {
    padding: 0.5em;
}

#form-button {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1em;
}

input[type='submit'], #cancel-button {
    width: 15%;
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    color: var(--text-color);
    background-color: var(--button-color);
}

input[type='submit']:hover,
#cancel-button:hover {
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.5s;
}

