:root {
    --primary-color : #EDEEEB;
    --secondary-color: #31393C;
    --third-color: #C2C2C2;
    --text-color: #FFFFFF;
    --button-color: #3E96F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: auto 1fr;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: unset;
    text-decoration: none;
}

/* HEADER */
header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
}

nav {
    padding: 0.5em;
    height: 100%;
}

nav ul {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

nav ul li {
    font-size: large;
    list-style: none;    
}

#nav-left {
    margin-left: 2em;
    width: 30%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5em;
}

#logo {
    font-size: 1.5em;
    font-weight: bolder;
}

#nav-left li:nth-child(2),
#nav-left li:nth-child(3) {
    padding: 0.5em 0.8em;
}

#nav-left li:nth-child(2):hover,
#nav-left li:nth-child(3):hover {
    color: var(--secondary-color);
    border-radius: 0.2em;
    background-color: var(--third-color);
}


/* SEARCH CONTAINER*/
#search-container {
    align-self: center;
    width: 40%;
    display: flex;
    border: 1px solid var(--text-color);
    border-radius: 0.2em;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
}

#search-container form {
    display: flex;
    width: 100%;
}

#search-container input {
    padding: 0.5em;
    width: 100%;
    font-size: 1em;
    border: none;
    outline: none;
    background-color: var(--primary-color);
}

#search-container button {
    border: none;
}

#search-container img {
    background-color: var(--primary-color);
}


#nav-right {
    margin-right: 2em;
    padding: 0 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

#nav-right img {
    width: 80%;
    height: 3em;
}


/* MAIN */
main {
    padding: 2em;
    grid-area: main;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    gap: 2em;
}


/* SECTION POSTER */
#weekly-card {
    width: 45rem;
    background-color: var(--secondary-color);
    padding: 2em 2em;
    padding-bottom: 3em;
    border-radius: 0.5em;
}

#weekly-card h2 {
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: 0.8em;
    text-align: center;
}

/* CONTAINER SONG LIST */
.weekly-grid {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

/* COLUMN GRID LEFT-RIGHT */
.weekly-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.song-item {
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 1em;
}

.rank {
    font-size: 1.7em;
    font-weight: bold;
    width: 32px;
    text-align: right;
}

.song-cover {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.song-info h3 {
    margin: 0;
    font-weight: bold;
}

.song-info p {
    margin: 0.15em 0 0 0;
    line-height: 1.1;
}


/* SECTION PRINT SONG */
#print-songs {
    width: 45rem;
    display: flex;
    justify-content: end;
    margin-bottom: 3em;
}

#print-songs button {
    width: 25%;
    font-size: 1em;
    padding: 1em;
    color: var(--text-color);
    border: none;
    border-radius: 0.5em;
    background-color: var(--button-color);
}

#print-songs button:hover {
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--secondary-color);
}



/* STYLE SAAT POSTER DI PRINT */
@media print {
    /* IZIN WARNA SAAT PRINT */
    * {
        -webkit-print-color-adjust: exact !important;
    }

    /* HIDE SEMUA DI BODY */
    body * {
        visibility: none;
    }

    header, #print-songs {
        visibility: hidden;
    }

    #weekly-card, #weekly-card * {
        visibility: visible;
    }

    #weekly-card {
        
    }
}