:root {
    --primary-color : #EDEEEB;
    --secondary-color: #31393C;
    --third-color: #CCC7BF;
    --text-color: #FFFFFF;
    --button-color: #3E96F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

#login-container {
    padding: 1em;
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    border: 1px solid var(--third-color);
    background-color: var(--secondary-color);
    gap: 1em;
}

#loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#loginForm label {
    font-size: 1.3em;
    font-weight: 500;
}

#loginForm input {
    padding: 0.8em;
    border-radius: 0.3em;
    border: 1px solid var(--third-color);
}

[type="submit"] {
    width: 40%;
    margin-top: 1em;
    font-size: 0.8em;
    font-weight: bold;
    color: var(--text-color);
    border: none;
    background-color: var(--button-color);
    align-self: center;
}

[type="submit"]:hover {
    cursor: pointer;
    transition: 0.5s;
    border: 5px solid var(--text-color);
}

#loginForm p {
    color: var(--primary-color);
    margin-top: 1em;
    text-align: center;
}

#loginForm p a {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}