:root {
    --primary-color : #EDEEEB;
    --secondary-color: #31393C;
    --third-color: #CCC7BF;
    --text-color: #FFFFFF;
    --button-color: #3E96F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ececeb;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-container {
    width: 30%;
    background: var(--secondary-color);
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

#music-icon {
    width: 20%;
}

h1 {
    color: white;
    margin: 10px 0 25px;
    font-size: 26px;
}

label {
    display: block;
    text-align: left;
    font-size: 13px;
    color: white;
    margin-bottom: 6px;
    margin-top: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 8px;
    border: none;
    outline: none;
    background: white;
    border-radius: 4px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    text-align: left;
}

#register {
    width: 120px;
    padding: 8px;
    margin-top: 20px;
    background: #3E96F4;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#register:hover {
    transition: 0.5s;
    background-color: #6faff4;
}

p {
    margin-top: 12px;
    font-size: 12px;
    color: white;
}

p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}