:root {
    --primary-color : #EDEEEB;
    --secondary-color: #31393C;
    --third-color: #CCC7BF;
    --text-color: #FFFFFF;
    --button-color: #3E96F4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ececeb;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-container {
    padding: 1.5em;
    width: 25%;
    height: 85%;
    text-align: center;
    border-radius: 0.5em;
    background: var(--secondary-color);
    box-shadow: 3px 3px 5px var(--secondary-color);
}

#music-icon {
    width: 20%;
}

h1 {
    color: white;
    margin: 10px 0 25px;
    font-size: 26px;
}

#registrationForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

label {
    display: block;
    text-align: left;
    font-size: 1.1em;
    font-weight: 500;
    color: white;
    width: 100%;
}

input {
    width: 100%;
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    outline: none;
    background: white;
    display: block;
    margin: 0 auto;
    text-align: left;
}

#register {
    width: 100%;
    padding: 0.5em;
    margin-top: 20px;
    background: #3E96F4;
    border: none;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}

#register:hover {
    transition: 0.5s;
    background-color: #6faff4;
}

p {
    margin-top: 12px;
    font-size: 12px;
    color: white;
}

p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}